* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}

body,
html {
    width: 100%;
    height: 100%;
}
/* 위는 기본 설정 */

p {
    /* 로고 글자 설정 */
    font-size: 40px;
    display: inline;
}

img {
    /* 로고 크기 설정 */
    width: 80px;
    /* object-fit: cover; */
}

/* 헤더 정렬 설정 */
header > div,
header > p {
    display: inline;
}

/* 프로필 박스 설정 */
#profileBox {
    font-size: 40px;
    margin-top: 2vh;
    float: right;
}

/* 작업용, 큰 영역 구분 설정 */
#bodyWrap,
header,
footer {
    border: 1px solid red;
}

/* 작업용, 작은 영역 구분 설정 */
#logoBox,
#profileBox,
nav,
#bodys {
    border: 1px solid green;
}

/* 네비, 바디 정렬 설정*/
#bodyWrap {
    width: 100%;
    text-align: center;
    /* display: inline; */
}

/* 네비 안 p태그 설정 */
#nav > p {
    margin-top: 1vh;
    font-size: 3vh;
    display: block;
}

/* 네비 정렬, 크기 설정 */
#nav {
    border: 2px solid black;
    margin: 1vh;
    float: left;
}
