.back_sang {
    width: 1000px;
    height: 1000px;
    background: url("../image/상상부기.png");
    background-repeat: no-repeat;
    background-position: center;

}

.back_sang2 {
    width: 500px;
    height: 500px;
    background: url("../image/가입부기.png");
    background-repeat: no-repeat;
    background-position: center;

}

.back_sang3 {
    width: 500px;
    height: 500px;
    background: url("../image/비번부기.png");
    background-repeat: no-repeat;
    background-position: center;

}


.labelid {
    width: 100px;
    text-align: left;
    padding-right: 10px;
}

.fieldid input {
    margin: 10px;
    width: 400px;
    height: 30px;
}


.fieldpass input{
    margin: 10px;
    width: 400px;
    height: 30px;

}

.fieldname2 input{
    margin: 10px;
    width: 400px;
    height: 30px;
}

.fieldjoin {
    margin: 10px;
}

.fieldemail input{
    margin: 5px;
    width: 150px;
    height: 30px;
}

.fieldgit input {
    margin: 10px;
    width: 400px;
    height: 30px;
}

.profile {
    width: 250px;
    height: 300px;
    margin : 20px; 
    padding : 20px;
    border : 1px solid black;
    border-radius : 5px;
}
