<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>개인정보 설정</title>
  </head>
  <body>
    <h3>개인정보 설정</h3>
    <hr />
    가장 잘하는 언어
    <form
      name="best"
      action="c:\project\project1\profile\server.js"
      method="post"
      value="1"
    >
      <input type="text" , value="" /><button type="submit">저장</button>
    </form>
    가장 못하는 언어
    <form
      name="worse"
      action="c:\project\project1\profile\server.js"
      method="post"
      value="3"
    >
      <input type="text" , value="" /><button type="submit">저장</button>
    </form>
  </body>
</html>
