<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>매칭 페이지</title>
    <link rel="stylesheet" href="../../public/assets/css/matching.css">
</head>

<body>
    <div class="langselect-com">
        <h1>언어 선택</h1>
            <form id="langselect" action="/" method="POST">
                <label><input type="checkbox" name="language" value="C"> C</label>
                <label><input type="checkbox" name="language" value="C++"> C++</label>
                <label><input type="checkbox" name="language" value="C#"> C#</label>
                <label><input type="checkbox" name="language" value="Java"> Java</label>
                <label><input type="checkbox" name="language" value="Kotlin"> Kotlin</label>
                <label><input type="checkbox" name="language" value="Swift"> Swift</label>
                <label><input type="checkbox" name="language" value="Python"> Python</label>
                <label><input type="checkbox" name="language" value="Go"> Go</label>
                <label><input type="checkbox" name="language" value="JavaScript"> JavaScript</label>
                <label><input type="checkbox" name="language" value="Rust"> Rust</label>
                <label><input type="checkbox" name="language" value="Ruby"> Ruby</label>
            
    
    <h1>일정 테이블</h1>

      <table id="scheduleTable">
        <tr>
          <th>Time</th>
          <th>월요일</th>
          <th>화요일</th>
          <th>수요일</th>
          <th>목요일</th>
          <th>금요일</th>
        </tr>
      </table>
    

        <div class="selectbt">
            <p2>해당 시간에 리뷰를</p2>
            <label><input type="radio" name="select" value="CODEREVIEW"> 하고 싶어요.</label>
            <label><input type="radio" name="select" value="RIVEWER"> 받고 싶어요.</label>
        </div>

        <div class="matstart-com">
            <button class="mtstart2">매칭 시작</button>
        </div>

        </form>
    </div>
  </body>


<script src="../../public/assets/js/matching.js"></script>