
/*프로필 사진 클릭시 변하는 CSS*/
.profile_select {
    width: 900px;
}


.profile_select > div > button{

    border: none;

    margin-top: 40px;
    padding: 0px;
    width: 170px;
    height:200px;

    background-color: white;
    float: left;
}

.profile_select > div > button.active,
.profile_select > div > button:hover {
        background-color:#cfcfcf;
        transition: 0.7s;
}


.field_btns {
    height: 100px;
    margin-top: 280px;

}



/*체크 박스 css*/
.listselect1 > input[type="checkbox"] {
    margin-left: 6px;
    padding: 0px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
    transition: background 0.2s;
}

.listselect1 > input[type="checkbox"]:checked {
    background: #042D6F;
    border: none;
}



.listselect2 > input[type="checkbox"] {
    margin-left: 6px;
    padding: 0px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
    transition: background 0.2s;
}

.listselect2 > input[type="checkbox"]:checked {
    background: #042D6F;
    border: none;
}



.listselect3 > input[type="checkbox"] {
    margin-left: 6px;
    padding: 0px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
    transition: background 0.2s;
}

.listselect3 > input[type="checkbox"]:checked {
    background: #042D6F;
    border: none;
}

.language_select {
    margin-top: 0px;
    padding: 0px;
    width: 900px;
    height:0px;
}

.listselect1 {
    padding-top: 10px;
    padding-bottom: 30px;
}

.listselect2 {
    padding-top: 10px;
    padding-bottom: 30px;
}

.listselect3 {
    padding-top: 10px;
    padding-bottom: 30px;
}